*{
    justify-content: center;
}
.container{
    color: black;
    background-color: gray;
    width: 150em;
    height: 20em;
}
.logo {
    max-width: 25%;
    max-height: 25%;
    padding: 4em;
   }

.image-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    margin-top: 8em;
}

.child-box{
    display: inline-flex;
    gap: 2rem;
}

.parent{
    width: 150em;
    height: 20em;
    padding: 4em;
    justify-content: center;
}

.banner{
    width: 50%;
    height: 50%;
   margin: 0;
   padding: 0;
}