
.form-body{
    /* margin: 4em;
    padding: 4em */
   background-color: red;
}
.form-child{
    
}

.header{
    padding: 5em;
    border: solid black 2px;
    /* background-image: url(./Images/envelope.png); */
}



.container{
     padding-bottom: 10em;
}