*{
    max-width: 1500px;
    margin: auto;

}

.navbar{
    /* background-color: blue; */
    padding: 10px;
    margin-bottom: px;
    font-size: 20px;
    justify-content: center;
    
}

.nav-banner{
    width: 50%;
    height: 50%;
   margin-left: -11%;
}

